body {
    color: white;
    background-color: rgb(63, 4, 87);
    font-size: large;
}
* {
    padding: 0;
    margin: 0;
}
h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}




.center {
    text-align: center;
    
}

#text-center {
    font-size: xx-large;
}

#background {
    background-color: black;
    color: rgb(0, 248, 248);
    height: 0.6in;
    
    
}  

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
    
}

#learnmore {
    color: limegreen;
    text-decoration: none;
}

#learnmore:hover {
    color: rgb(250, 81, 81);
    text-decoration: none;
}
h3 {
    text-transform: uppercase;
}

#navbaricon {
    width: 55px;
    height: 55px;
    float: left;
    
}

#navbaricon:hover {
    width: 55px;
    height: 55px;
    float: left;
    cursor: pointer;
}

#laungages-frontend {
    width: 600px;
    height: 300px;
    
}

#about {
    font-size: 170%;
}
#contacts {
    font-size: 170%;
}

#homepage {
    font-size: 170%;
}

#port {
    font-size: 170%;
}
@media only screen and (max-width:768px) {
    #laungages-frontend {
        width: 490px;
        height: 300px;
        
    }

    #navbaricon {
        width: 50px;
        height: 50px;
        float: left;
        
    }
    #navbaricon:hover {
        width: 50px;
        height: 50px;
        float: left;
        cursor: pointer;
    }

    #background {
        background-color: black;
        color: rgb(0, 248, 248);
        height: 1in;
        
        
    }  

    #drawing {
        width: 480px;
    }
}
   


   
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
        
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 1in;
    
}  

    

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 0, 0);
}